/* Base Styles */
html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2e2e2e;
    color: #ffffff;
}

.left-nav a, .right-nav button {
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

.left-nav a:hover, .right-nav button:hover {
    color: #888888;
}

/* Button Styling */
.login-btn, .signup-btn {
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn {
    background-color: #444;
}

.signup-btn {
    background-color: #666;
}

.login-btn:hover {
    background-color: #555;
}

.signup-btn:hover {
    background-color: #777;
}
