.spacer{
    flex: 1 1 auto;
}
.login-btn, .signup-btn {
    margin-left: 10px;
    border-radius: 3px;
    padding: 8px 20px;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-btn {
    background: linear-gradient(45deg, #ffa726, #fb8c00);
    border: none;
    color: #ffffff;
}

.signup-btn {
    background: linear-gradient(45deg, #66bb6a, #43a047);
    color: #ffffff;
}

.login-btn:hover, .signup-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
    background: linear-gradient(45deg, #ffca28, #ffa000);
}

.signup-btn:hover {
    background: linear-gradient(45deg, #81c784, #66bb6a);
}
